body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50px;
  background-color: rgb(144, 40, 75);
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

#signature {
  font-size: 40px;
  font-weight: bold;
  color: black;
  border: 2px solid #062703;
  padding: 26px 50px;
  width: 160px;
  height: 12px;
  line-height: 14px;
  display: none;
}

h2 {
  font-size: 60px;
  color: rgb(7, 54, 7);
  font-family: fantasy;
  margin: 60px 0 30px 0;
}

.note {
  position: fixed;
  font-size: 20px;
  bottom: 110px;
  left: 50%;
  transform: translateX(-50%);
  color: #83f999;
}

input {
  padding: 10px;
  font-size: 18px;
  margin-top: 80px;
  margin-right: 10px;
  width: 250px;
  text-align: center;
  background-color: #83f999;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  color: white;
  background-color: rgb(72, 108, 100);
  border: none;
}
